.Cuerpo {
  display: grid;
  grid-template-rows: auto auto auto;
}

.Seccion1 {
  background-image: url('../assets/Imagenes/Fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Caja1 {
  background-image: url('../assets/Imagenes/ImagenFondo_Titulo1.jpg');
}

.Imagen1_Body {
  max-width: 100%;
  height: auto;
  display: grid;
}

.Caja_Imagen1_Body {
height: 70vh;
}

.Caja_Imagen2_Body > img {
  position: relative;
  left: 225px;
}

.Imagen2_Body {
  max-width: 100%;
  height: auto;
}


.Titulo1 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #caa74a;
    text-shadow: 1px -2px 0 #000000;
  }

  .Subtitulo1 {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 1px 0 #000000;
  }

.Texto1 {
  max-width: 670px;
  margin: 0 auto;
  text-align: justify;
  text-align-last: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  font-weight: bold;
  text-shadow: 2px 1px 0 #000000;
  margin-bottom: 30px;
}

.Boton_Comprar {
  margin: 20px;
  height: 40px;
  width: 160px;
  color: white;
  background-color: #caa74a;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.Caja3_Seccion1 {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
} .Caja3_Seccion1 > div {
  align-content: center;
} 

.Texto2 > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: start;
  width: 72vh;
} .Texto2 {
  margin-left: 15vh;
} .Texto2 > h1 {
  font-family: 'Montserrat', sans-serif;
}

.Imagen8_Body {
  width: 100vh;
}

.Seccion2 {
  background-image: url(https://static.bandainamcoent.eu/high/elden-ring/elden-ring/07-elden-ring-wiki/ER_wiki_Background2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Caja3_Body {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 30px;
} .Caja3_Body > div {
  display: grid;
  grid-template-rows: auto auto;
} .Caja3_Body > div > img {
  width: 90vh;
} .Caja3_Body > div > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  max-width: 90vh;
  text-align: center;
} .Caja3_Imagen1 {
  width: 300px;
  height: 300px;
}

.Seccion3 {
  background-image: url('../assets/Imagenes/Imagen9_Body.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Caja1_Saccion3 {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  justify-content: center;
}

.Titulo2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #caa74a;
} .Titulo2 > img {
  width: 50vw;
}
.Texto3 {
  font-family: 'Montserrat', sans-serif;
  width: 52vw;
}

