.Caja1_Galeria {
    background-image: url('../assets/Imagenes/Imagen2_Fondo.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.Caja1_Galeria {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
} .Caja1_Galeria > div > img {
    width: 70vh;
    padding-top: 20px;
    padding-bottom: 20px;
}