.Barra_Opciones {
    display: grid;
    grid-template-columns: 2fr repeat(4, auto);
    padding: 5px;
    background-color: black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Sombra */
}

.CajaLogo {
    align-content: center;
    height: auto;
    width: 30vh;
    margin: 5px;
}

.Caja3, .Caja4, .OpcionesDefault {
    text-align: center;
    align-content: center;
    height: auto;
    width: 20vh;
    margin: 5px;
    padding: 10px;
}

.Iniciar_Sesion, .Galeria, .OpcionesDefault {
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', serif;
}

.Logo {
    padding-left: 3vh;
    padding-right: 5vh;
    width: 25vh;
    height: 8vh;
}